In [1]:
import pandas as pd

In [4]:
sr = pd.Series([1,2,3])
sr

0    1
1    2
2    3
dtype: int64

In [5]:
type(sr)

pandas.core.series.Series

In [9]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9