In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

import sklearn

%precision 3

'%.3f'

In [3]:
trans = pd.read_excel('Online Retail.xlsx', sheet_name='Online Retail')
trans.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
# InvoiceNoの先頭1文字をcancel_flgとして追加
trans['cancel_flg'] = trans.InvoiceNo.map(lambda x:str(x)[0])

# cancel_flgでグルーピングして集計
trans.groupby('cancel_flg').size()

cancel_flg
5    532618
A         3
C      9288
dtype: int64

In [7]:
trans = trans[(trans.cancel_flg =='5') & (trans.CustomerID.notnull())]

In [8]:
# StockCodeごとに件数を数え、上位5件を表示
trans['StockCode'].value_counts().head(5)

85123A    2035
22423     1724
85099B    1618
84879     1408
47566     1397
Name: StockCode, dtype: int64

In [10]:
# 全てのInvoiceNoをtrans_allとして抽出
trans_all = set(trans.InvoiceNo)

# 商品85123Aを購入したデータをtrans_aとする
trans_a = set(trans[trans['StockCode'] == '85123A'].InvoiceNo)
print(len(trans_a))

# 商品85099Bを購入したデータをtrans_bとする
trans_b = set(trans[trans['StockCode'] == '85099B'].InvoiceNo)
print(len(trans_b))

# 商品85123A及び、85099Bを購入したデータをtrans_abとする
trans_ab = trans_a & trans_b
print(len(trans_ab))

1978
1600
252

In [13]:
# 両商品を含むバスケットの数
print(len(trans_ab))
# 両商品を含むバスケットに占める割合
print(len(trans_ab)/len(trans_all))

252
0.013595166163141994

In [15]:
# 商品85123Aのバスケットの数
print(len(trans_a))
# 商品85123Aを含むバスケット全体に占める割合
len(trans_a)/len(trans_all)

1978

0.107

In [18]:
# 確信度 商品Aを購入するうちに商品ABを購入する割合
print(len(trans_ab)/len(trans_a))
# 確信度 商品Bから見た場合
print(len(trans_ab)/len(trans_b))

0.12740141557128412
0.1575

In [21]:
# 全体のバスケットに占める商品Bの高倍率を計算
support_b = len(trans_b) / len(trans_all)

# 商品Aを購買したときの商品Bの購買率を計算
confidence = len(trans_ab) / len (trans_a)

# リフト値を計算　（全体から商品Bを買った場合と商品Aを購入した時にBも購入する割合を比べ、商品Aを購入した時にBを購入する割合が高ければ,1より大きい併売しやすいと言える
lift = confidence / support_b
print(lift)

1.4759453993933265